/* 1. ---General Styles--- */
body {
    font-family: "Montserrat", Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: "Kalnia", serif;
    font-weight: 500;
}

h3 {
    font-size: 1.3rem;
    font-family: "Kalnia", serif;
    font-weight: 500;
}

.big-title {
    font-family: "Kalnia", serif;
    font-weight: 550;
    color: #801A8E;
    font-size: 2rem;
}

/* Defaults */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    font-weight: 600;
    text-decoration: none;
}



/* 2. ---Header--- */
#main-header {
    padding: 40px;
}

#main-header > div.grid-con {
    align-items: end;
}

#main-logo {
    min-width: 150px;
    margin: 0 20px;
}

#burger {
    background-image: url(../images/burger-menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
}
    #burger.clicked {
        transform: rotate(90deg);
    }

#main-nav {
    order: 4;
}

#burger-con {
    display: none;
    justify-content: space-between;
    margin-top: 20px;
}

#burger-con.collapsible {
    display: flex !important;
}
#main-header.collapsible {
    padding-bottom: 15px;
}


#burger-con li {
    padding: 10px 15px;
    border-radius: 20px;
}

#burger-con li a{
    width: 100%;
    height: 100%;
}

#burger-con li:hover {
    background-color: #ff98ad;
}


#func-btn {
    justify-self: end;
}


.ico {
    aspect-ratio: 1/1;
    width: 2.25rem;
    transition:  transform 0.25s linear;
    cursor: pointer;
}


/* 2. ---Main Hero--- */
#main-hero {
    background-image: url(../images/hero-stars_w_908.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    height: 373px;
    margin-bottom: 3rem;
}

#main-hero .big-title {
    filter: drop-shadow(#f1f1f1 0px 4px 3px);
}

/* 3. ---Article--- */

article section {
    margin-bottom: 5vh;
}

article > picture {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

article p+img, article p+picture, #hugs picture {
    margin-top: 3vh;
}

#hugs picture {
    text-align: center;
}

article p {
    line-height: 30px;
}

/* 4. ---Main Footer--- */
#main-footer {
    align-content: start;
    padding: 5vh 0;
    margin-top: 15vh;
    min-height: 500px;
    background-color: #F7B3C0;
    background-image: url(../images/waddles-face.svg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50% 90%;
}

    #main-footer > .grid-con {
        grid-row: 1/1;
    }

#footer-nav {
    padding: 0;
    line-height: 2rem;
}

#social-links {
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}

.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: black;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.social-icon a {
    display: block;
    text-decoration: none;
    color: white;
}

#footer-logo {
    margin-top: 2.5rem;
    text-align: center;
}
#footer-logo img {
    max-width: 200px;
}
#contact-us {
    line-height: 2rem;
    margin-bottom: 20px;
}

/* 5. ---Responsive--- */
@media screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }

    #main-header {
        padding: 15px;
    }
    #main-header > div.grid-con {
        align-items: center;
    }
    #main-header.collapsible {
        padding-bottom: 0;
    }
    #main-logo {
        margin: 20px;
    }

    #burger {
        display: none;
    }
    #burger-con {
        display: flex;
    }
    #main-nav {
        order: 1;
        grid-row: 1/-1;
    }
    #main-logo{
        order: -1;
    }


    #main-hero {
        height: 325px;
        background-image: url(../images/hero-stars_w_908.jpg);
    }

    .big-title {
        font-size: 3rem;
    }




    article section {
        margin-bottom: 7vh;
    }

    article h3 {
        margin-bottom: 4vh;
    }

    article p {
        line-height: 40px;
    }


    #main-footer {
        padding-top: 7vh;
    }
    #footer-logo {
        margin: 0 0 1.5rem;
    }

    div:has(#footer-logo) {
        order: -1;
    }
}

@media screen and (min-width: 1200px) {
    #main-hero {
        height: 435px;
        background-image: url(../images/hero-stars_w_1200.jpg);
        background-position: 30% 50%;
    }

    .big-title {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}
